<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}DEVOUR THAT BURGER!{{else}}ORDER THIS BURGER!{{/if}}
	</button>

	<button class="delete-burger material-icons" data-id="{{this.id}}">delete</button>
</li>
